<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<nav>
    <ul>
        <li><a href="/survey">Survey</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/student">Student</a></li>
        <li><a href="/show">Cars</a></li>
    </ul>
</nav>