@{
    ViewData["Title"] = "Home Page";
}

<partial name="NavPartial"/>

<form action="/register">
  <div class="container">
    <p>Please fill in this form to create an account.</p>

    <label for="FirstName"><b>FirstName</b></label>
    <input type="text" placeholder="First Name" name="FirstName" id="FirstName" required>

    <label for="LastName"><b>LastName</b></label>
    <input type="text" placeholder="Last Name" name="LastName" id="LastName" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</form>