@{
    ViewData["Title"] = "Submit";
}
<h1>@ViewData["Title"]</h1>

<p>Login Successful.</p>

<div class="text-center">
    <h2 class="display-4">Mau .Net Core</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>