@{
    ViewData["Title"] = "User Page";
}
@using DojoSurvey.Models
@model User

<partial name="NavPartial"/>
<h2>User</h2>

<p>Username: @ViewBag.Username</p>
<p>FirstName: @Model.FirstName</p>
<p>LastName: @Model.LastName</p>
<form action="/register" method="post">
    <label>FirstName:</label>
    <input type="text" name="FirstName">
    <label>LastName:</label>
    <input type="text" name="LastName">
    <button>Submit</button>
</form>