@{
    ViewData["Title"] = "Messages Page";
}

<partial name="NavPartial"/>

@model List<Message>
@foreach(var message in Model)
{
    <p>
        <a href="/@message.UserId">@message.Creator.FirstName @message.Creator.LastName</a> : @message.Content
    </p>
}