<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<a href="/">Home</a>|
<a href="/projects">Projects</a>|
<a href="/contact">Contact</a>
<h1>Contact Me!</h1>
<form action="/">
<div>
    <div class="box3">
        <div>
            <label>Name</label>
            <input class="form-control" />
        </div>
        <div>
            <label>Email</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="box4">
        <label>Message</label>
        <div class="form-group">
            <textarea class="form-control"></textarea>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-md btn-primary">Send</button>
        </div>
    </div>
</div>
</form>
</body>

</html>