<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h1>@ViewBag.Example</h1>
@{
    string LocalString = ViewBag.Example + " Good to see you!";
}
<h1>@LocalString</h1>
@{
    var StringList = new List<string>
    {
        "Apple Pie",
        "Burritos",
        "Clams Casino",
        "Donuts"
    };  
    foreach(var word in StringList)
    {
        <div>
            @if(word.Length > 0 && word[0]=='C')
            {
                 <p style="color:red">@word</p>
            }else{
                 <p>@word</p>
            }
       </div>
    }
}
<a href="/hello">Say Hello</a>
</body>

</html>