<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<a href="/">Home</a>|
<a href="/projects">Projects</a>|
<a href="/contact">Contact</a>
<h1>About Me</h1>
<div>
    <div class="box">
        <img src="~/images/1.jpg" alt="about" />
        <h2>Mauricio Ruanova</h2>
        <h3>Software Engineer</h3>
    </div>
    <div class="box">
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
        <p>Wed Developer Full-Stack Front-End Back-End </p>
    </div>
</div>
</body>

</html>