<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<a href="/">Home</a>|
<a href="/projects">Projects</a>|
<a href="/contact">Contact</a>
<h1>Here are some projects of mine!</h1>
<div class="container">
    <div>
        <div class="box1"><img src="~/images/email.png" alt="email"/></div>
        <div class="box2">
            <p>Email</p>
            <p>Submit Form</p>
        </div>
    </div>
    <div>
        <div class="box1"><img src="~/images/github.png" alt="github"/></div>
        <div class="box2">
            <p>github</p>
            <p>Code Repository</p>
        </div>
    </div>
    <div>
        <div class="box1"><img src="~/images/linkedin.png" alt="linkedin"/></div>
        <div class="box2">
            <p>linkedin</p>
            <p>Job Exchange</p>
        </div>
    </div>
</div>
</body>

</html>