@{
    ViewData["Title"] = "Mau .Net Core";
}
<!--
<h1>@ViewData["Title"]</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    
<a href="/sports1">Sports1</a>
-->
<div class="text-center">
    <h2 class="display-4">Welcome!</h2>
    <a href="/messages">Messages</a>
</div>
