@{
    ViewData["Title"] = "Student Page";
}
@using DojoSurvey.Models
@model Student

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Username: @ViewBag.Username</p>
<p>FirstName: @Model.Name</p>
<p>LastName: @Model.House</p>
<form action="/list" method="post">
    <label>Your Name:</label>
    <input type="text" name="name">
    <label>House:</label>
    <select name="house">
        <option value="Gryffindor">Gryffindor</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
    </select>
    <label>Year:</label>
    <input type="number" name="CurrentYear">
    <button>Submit</button>
</form>