<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JQuery Slim -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom Style -->
    <style></style>

    <!-- Static Style -->
    <link rel="stylesheet" href="~/css/style.css" />

    <title>Razor Page</title>

</head>

<body>
    <!-- Example -->
    @{
        <div class="container">
            <!-- Navbar Row -->
            <div class="row" id="header_navbar">
                <div class="col-12 text-center">
                    <a href="/">Home</a>&nbsp|
                    <a href="projects">Projects</a>&nbsp|
                    <a href="contact">Contact</a>&nbsp
                </div>
            </div>

            <!-- Title Row -->
            <div class="row" id="title">
                <div class="col-12 text-center">
                    <h2>Here are some projects of mine!</h2>
                </div>
            </div>

            <!-- Main Content-->
            <div class="row">
                <div class="col-10 offset-1" id="table_container">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>

                                <th>Logo</th>
                                <th>Project Name</th>
                                <th>Technology Used</th>
                                <th>Project Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="logo" src="~/images/logo1.jpg" alt="logo1" /></td>
                                <td>Snippet Builder</td>
                                <td>Django / JQuery</td>
                                <td>Individual</td>
                            </tr>
                            <tr>
                                <td><img class="logo" src="~/images/logo2.jpg" alt="logo2" /></td>
                                <td>Contract Manager</td>
                                <td>Django / JQuery / Bootstrap</td>
                                <td>Group</td>
                            </tr>
                            <tr>
                                <td><img class="logo" src="~/images/logo3.jpg" alt="logo3" /></td>
                                <td>Feel the MERN</td>
                                <td>MERN / Zsh / Python</td>
                                <td>Individual</td>
                            </tr>
                            <tr>
                                <td><img class="logo" src="~/images/logo4.jpg" alt="logo4" /></td>
                                <td>WA State SB Tracker</td>
                                <td>MongoDb/React/Node.js</td>
                                <td>Group</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    <a id="attr" href="https://www.freepik.com/free-photos-vectors/background">Background logos created by rawpixel.com - www.freepik.com</a>
                </div>
            </div>


        </div>
    }
</body>


</html>




